[build]
builder = "NIXPACKS"
buildCommand = "npm install && npm run build"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[env]]
name = "NODE_ENV"
value = "production"

[[env]]
name = "PORT"
value = "4000"
